@import url('base.css');
header{
	width: 100%;
	height: 4.16rem;
	background: rgba(245,117,150,0.1);
	
}
.top{
	width: 100%;
	height: 1.2rem;
	display: flex;
	justify-content: space-between;
	padding: 0 0.36rem;
/*	background: yellow;*/
	
}
.topleft,.topright{
	width: 1rem;
	height: 1.2rem;
	text-align: center;
	line-height: 0.95rem;
	color: #9a9a9a;
}
.top2{
	width: 100%;
	height: 1.92rem;
	display: flex;
	padding: 0 0.36rem;
	justify-content: space-between;
}
.top2 img{
	display: block;
	width: 1.7rem;
	height: 100%;
	
}
.top2center{
	width: 7.56rem;
	height: 100%;
/*	background: pink;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.top2center h1{
	font-size: 0.56rem;
	
	
}
.top2center h2{
	font-size: 0.32rem;
	color: #999;
	
}
.guanzhu{
	display: flex;
	justify-content: space-between;
	width: 3.3rem;
}
.top2center h2 span{
	
	color: #333;
	
}
.jiantou{
	width: 0.46rem;
	height: 100%;
	text-align: center;
	line-height: 1.92rem;
	font-size: 0.46rem;
	color: #c7c7c7;
}
nav{
	width: 100%;
	height: 1.36rem;
	display: flex;
	justify-content: space-around;
	margin-top: 0.36rem;
	align-items: center;
	
	
}
nav a{
	width: 2rem;
	height: 0.52rem;
	display:flex;
	justify-content: space-around;
	
}
nav a h1{
	font-size: 0.5rem;
	color: #323232;
	
}
nav a .iconfont{
	font-size: 0.52rem;
	line-height: 0.7rem;
	color: #717070;
}
main{
	width: 100%;
	height: 3.6rem;
	border-top: 0.3rem solid #efefef;
	
}
.wddd{
	width: 100%;
	height: 1.35rem;
	display: flex;
	justify-content: space-between;
	padding: 0 0.36rem;
	color: #323232;
	align-items: center;
	border-bottom: 0.01rem solid #e5e5e5;
}
.wddd h3{
	font-size: 0.4rem;
	
}
.wddd h4{
	font-size: 0.4rem;
	
}
.wddd h4 .iconfont{
	font-size: 0.5rem;
}

main ul{
	width: 100%;
	height: 2.25rem;
	display: flex;
	padding: 0 0.36rem;
	justify-content: space-between;
	align-items: center;
}
main ul li{
	width: 1.3rem;
	height: 1.28rem;
	text-align: center;
	line-height:0.7rem; 
	color: #333;
	font-size:0.34rem; 
}

main ul  li .iconfont{
	font-size: 0.66rem;
	
}
section{
	width: 100%;
	height: auto;
	border-top: 0.3rem solid #efefef;
	margin-bottom: 1.7rem;
	
}
section ul{
	margin-top: 0.58rem;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	
}
section ul li{

	width: 2.17rem;
	height: 1.5rem;
	line-height:0.7rem;
	font-size: 0.4rem;
	color: #333;
	text-align: center;
	margin-bottom: 1.26rem
}

section ul li .iconfont{
	font-size: 0.66rem;
	
}
section ul li:first-child{
	color: #ff79a8;
}

section ul li:nth-child(2){
	color: #ff9727;
}
section ul li:nth-child(3){
	color: #ff79a8;
}
section ul li:nth-child(4){
	color: #ff79a8;
}
section ul li:nth-child(5){
	color: #ff9727;
}
section ul li:nth-child(6){
	color: #4ec66a;
}
section ul li:nth-child(7){
	color: #4ec66a;
}section ul li:nth-child(8){
	color: #8d7efa;
}section ul li:nth-child(9){
	color: #73b6ff;
}section ul li:nth-child(10){
	color: #73b6ff;
}section ul li:nth-child(11){
	color: #73b6ff;
}section ul li:nth-child(12){
	color: #ff79a8;
}











.iconfont2 {
  font-family:"iconfont" !important;
  font-size:0.68rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont3 {
  font-family:"iconfont" !important;
  font-size:0.57rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 底部开始 */
footer{
		width: 100%;
		height: 1.7rem;
		background: white;
		position: fixed;
		left: 0;
		bottom: 0rem;

}
.foot{
		width: 100%;
		height: 100%;
		/* background: yellow; */
		display: flex;
		justify-content: space-around;
}
.foot li a{
		width: 1.09rem;
		height: 100%;
		/* background: red; */
		display: flex;
		align-content: center;
		flex-wrap: wrap;
}
.footicf{
		flex-basis: 100%;
		
		height: 0.85rem;
		/* background: blue; */
		font-size: 0.64rem;
		text-align: center;
		line-height: 0.9rem;
		color: #636563;
		margin-bottom: 0.03rem;

}
.foottext{
		flex-basis: 100%;
		height: 0.46rem;
		/* background: blue; */
		font-size: 0.33rem;
		text-align: center;
		color: #9c9e9c;
}
.iconfont2 {
  font-family:"iconfont" !important;
  font-size:0.64rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont3 {
  font-family:"iconfont" !important;
  font-size:0.57rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.foot li:nth-child(5) .footicf{
		color: pink;
}
.foot li:nth-child(5) .foottext{
		color: pink;
}